@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

.header-button a {
    text-decoration: none;
    color: white;
    font-family: 'Rubik Bubbles', cursive;
}

.header {
    position: sticky;
    width: 100%;
    padding: 10px;
    background: rgba(164, 28, 0, 1);
    color: white;
    border-radius: 20px;
}

.header-section {
    display: flex;
    align-items: center;
}

.header-item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}

.header-logo img {
    height: 64px;
    width: 64px;
}

.header-button {
    transition: font-size 0.3s ease;
}

.header-button:hover {
    font-size: 25px;
}
